<div style = "float:right">
   <img src = "<%=image_path('homepage.png')%>"  height = 700px width = 600px  style = "margin-top:50px ; margin-right:0">
</div>

<%
=begin%>
 
<div >
  <h1> WELCOME TO WARRANTY CLAIMER </h1>
  <div class = "card shadow shadow-md">
    <div class = "card-body">
      <h1> Claim your warranty here !! </h1>
    </div>
  </div>
</div> 
<%
=end%>

 <div class="container",style = "float:left ; margin-top: 100px ; margin-left:10px">
    <div class="jumbotron mt-4" style= "background-color: rgba(0, 0, 0, 0.5); color:#fff; height:400px">
     <b>  <h1 >Welcome to Warranty Claimer</h1> </b>
    <b>  <p class="lead">Manage your Warranties On The Go !!</p></b>

       <hr class="my-4">
      <%if user_signed_in?%>
       <p class="lead">Sit back , relax, and let us take care of your warranty claims smoothly !</p>
       <%end%>
     
     <p>Experience Seamless Warranty Claim Resolution: Effortlessly Get What You Deserve !!</p> 
     
      
      <%if !user_signed_in?%>
      
       <p>Join the Warranty Claimer and sign up for hassle-free warranty claims !</p>
      
      <%= link_to "Sign Up" , new_user_registration_path ,class:"btn btn-primary btn-lg "%>
      <p>Already have an  account?  <%= link_to "Log in" , new_user_session_path ,class:"btn btn-light btn-sm " , style:"" %>
      <%end%>
      
    </div>
  </div>
