

<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <div class="container mt-5">
    <h1>Welcome to the Warranty Claiming System</h1>
    <p> Warranty Claiming System that enables customers to easily submit warranty claims for products they have purchased, and enables Sellers to efficiently manage the claims process.</p>
    <p>The system allows customers to track the status of their claims and receive updates on the status. Sellers can review and process claims in a timely manner.</p>
    <p>With this system, customers can conveniently submit warranty claims, and sellers can efficiently manage and resolve them, ensuring a smooth and transparent process.</p>
    <p>Thank you for using the Warranty Claiming System. We hope it provides you with a seamless experience and efficient resolution of warranty claims.</p>
  </div>

  <!-- Include Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>



